{{#each message in messages}}
  {{#view view.messageClass message=message class='clearfix'}}
    <a {{action 'close' target='view'}} class='close'>&times;</a>
    <span class='message'>{{message.message}}{{{message.raw}}}</span>
  {{/view}}
{{/each}}
