{{#each message in messages}}
  {{#view view.messageClass message=message}}
    <div class='message'>{{message.message}}{{{message.raw}}}</div>
    <a {{action "close" target="view"}} class="close">&times;</a>
  {{/view}}
{{/each}}
