<a href="#" {{on 'click' this.notifyFromRoute}} class="route" role="button">route</a>
<a href="#" {{on 'click' this.notifyFromController}} class="controller" role="button">controller</a>

<NotifyOnClick />
